body {
    background-image: url("../images/world.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(87, 52, 7);
}

#container {
    position: relative;
    background-color: rgb(250, 235, 215);
    width: 80%;
    height: 600px;
    border: 1px solid #000;
    margin: 20px auto;
    box-shadow: 5px 5px 5px 5px #000;
}

#hint1,
#hint2 {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 10px;
}

#hint1 {
    right: 40px;
    top: 0;
}

#hint2 {
    right: 120px;
    top: 0;
}

h1 {
    color: rgb(104, 62, 12);
    font-size: 4em;
    font-family: 'Patua One', cursive;
    text-align: center;
    padding: 20px;
    text-shadow: 4px 4px 4px rgb(111, 114, 98);
}

header {
    width: 100%;
    height: 100px;
}

#start {
    width: 30%;
    height: 35px;
    margin: 240px auto;
}

#start:hover {
    cursor: pointer;
}

#start p {
    text-align: center;
    font-size: 2em;
}

#start p:hover {
    text-align: center;
    font-size: 2.4em;
    text-shadow: 2px 2px 2px rgb(156, 158, 146);
}

#answer1:hover,
#answer2:hover,
#answer3:hover,
#answer4:hover {
    cursor: pointer;
    font-size: 1.7em;
    text-shadow: 1px 1px 1px rgb(156, 158, 146);
}

#answer1,
#answer2,
#answer3,
#answer4 {
    width: 60%;
    height: auto;
    /* border: 1px solid #000; */
    margin: 25px auto;
    text-align: center;
    font-size: 1.5em;
}

img {
    display: block;
    margin: 0 auto;
    height: 200px;
}

#middle {
    margin: 110px auto;
}

#timer {
    margin: 30px auto;
    text-align: center;
    font-size: 1.7em;
}

#question {
    margin: 30px auto;
    text-align: center;
    font-size: 1.8em;
    font-style: oblique;
}

#correctAnswer {
    margin: 20px auto;
    text-align: center;
    font-size: 1.6em;
}

#correct,
#incorrect,
#unanswered {
    width: 60%;
    height: auto;
    margin: 25px auto;
    text-align: center;
    font-size: 1.5em;
}

#startover {
    width: 60%;
    height: auto;
    margin: 30px auto;
    text-align: center;
    font-size: 2em;
}

#startover:hover {
    cursor: pointer;
    font-size: 2.2em;
    text-shadow: 2px 2px 2px rgb(156, 158, 146);
}

.answersAll {
    width: 60%;
    margin: 0 auto;
}

.answersAll p {
    font-size: 1.8em;
    font-style: oblique;
    padding-top: 60px;
    text-align: center;
    line-height: 2;
}

#progressbar {
    border: none;
    width: 50%;
    margin: 0 auto;
}

.ui-widget-header {
    background: rgb(168, 121, 63) 50% 50% repeat-x;
}

.ui-widget-content {
    background: rgb(238, 208, 169) 50% 50% repeat-x;
}

@media screen and (min-width: 767px) and (max-width: 980px) {
    #container {
        height: 500px;
    }
    img {
        width: auto;
        height: 200px;
    }
}

@media screen and (min-width: 639px) and (max-width: 768px) {
    #container {
        height: auto;
    }
    #start {
        width: 30%;
        height: 35px;
        margin: 180px auto;
    }
    #answer1,
    #answer2,
    #answer3,
    #answer4 {
        width: 60%;
        height: auto;
        /* border: 1px solid #000; */
        margin: 25px auto;
        text-align: center;
        font-size: 1.2em;
    }
    #answer1:hover,
    #answer2:hover,
    #answer3:hover,
    #answer4:hover {
        cursor: pointer;
        font-size: 1.3em;
        text-shadow: 1px 1px 1px rgb(156, 158, 146);
    }
    #timer {
        margin: 20px auto;
        font-size: 1.5em;
    }
    #question {
        margin: 20px auto;
        font-size: 1.6em;
    }
    #middle {
        margin: 60px auto;
    }
    img {
        width: auto;
        height: 160px;
    }
    #correctAnswer {
        margin: 20px auto;
        text-align: center;
        font-size: 1.5em;
    }
    #correct,
    #incorrect,
    #unanswered {
        margin: 15px auto;
        text-align: center;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 300px) and (max-width: 640px) {
    header {
        width: 100%;
        height: auto;
    }
    h1 {
        font-size: 2.2em;
        padding: 10px;
        text-shadow: 2px 2px 2px rgb(111, 114, 98);
    }
    #container {
        height: auto;
    }
    #start {
        width: 30%;
        height: 35px;
        margin: 120px auto;
    }
    #start:hover {
        cursor: pointer;
    }
    #start p {
        font-size: 1.6em;
    }
    #start p:hover {
        font-size: 1.8em;
        text-shadow: 2px 2px 2px rgb(156, 158, 146);
    }
    #answer1,
    #answer2,
    #answer3,
    #answer4 {
        width: 60%;
        height: auto;
        /* border: 1px solid #000; */
        margin: 15px auto;
        text-align: center;
        font-size: 1.1em;
    }
    #answer1:hover,
    #answer2:hover,
    #answer3:hover,
    #answer4:hover {
        cursor: pointer;
        font-size: 1.2em;
        text-shadow: 1px 1px 1px rgb(156, 158, 146);
    }
    #timer {
        margin: 15px auto;
        font-size: 1.3em;
    }
    #question {
        margin: 15px auto;
        font-size: 1.3em;
    }
    #middle {
        margin: 40px auto;
    }
    img {
        width: auto;
        height: 120px;
    }
    #correctAnswer {
        margin: 20px auto;
        text-align: center;
        font-size: 1.3em;
    }
    #correct,
    #incorrect,
    #unanswered {
        margin: 20px auto;
        font-size: 1.3em;
    }
}